/* -------------------- Generales a todos los elementos del NavBar -------------------- */
nav {
    display: flex;
    height: 80px;
    background-image: linear-gradient( 135deg, #5A8FED 25%, #7bd1eb 100%);
    align-items: center;
}
nav ul {
    list-style: none;
    line-height: 110px;
}

nav > div > a > img {
    height: 50px;
    margin: auto auto auto 20px;
}

nav > ul > li{
    display: inline-block;
    margin-left: 20px;
    position: relative;
}

nav a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

nav a:hover{
    color: darkslategrey;
}

nav > ul, div{
    display: inline-block;
}

/* -------------------- Caja btns Registrar, Login -------------------- */
nav > .contenedor-sesion{
    margin: auto 2% auto auto;
    display: flex;
    align-items: center;
}

nav > .contenedor-sesion > a {
    border-radius: 5px;
    border: white 2px solid;
    padding: 10px 15px;
}

nav > .contenedor-sesion > a:hover{
    border: darkslategrey 2px solid;
    color: darkslategrey;
}

nav > .contenedor-sesion > .btn-registro{
    margin-right: 15px;
    color: #4468a7;
    background-color: white;
}

/* -------------------- Caja Datos Usuario -------------------- */
nav > div > div {
    display: inline-block;
    position: relative;
}

nav > div > div:hover >ul{
    display: block;
}

nav > div > p {
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
}
nav > div > div > img{
    height: 50px;
    margin-left: 10px;
}

nav > div > div > ul{
    display: none;
    top: 35px;
    position: absolute;
    background-color: #5A8FED;
    width: 135px;
    right: 1px;
}

nav > div > div:hover > ul{
    display: block;
    background-color: #3a76dd;
}

nav > div > div > ul > li{
    width: fit-content;
    margin-left: -27px;
    margin-top: -30px;
    margin-bottom: -40px;
}

nav > div > div > ul > li{
    cursor: pointer;
}
