<p><a href="tablero-cuenta" style="color: #394f75; margin: 20px; font-size: 18px; font-weight: bold;">¡Regresar!</a></p>
<div class="contenedor-principal">

    <h1>Cuentanos una Historia</h1>

    <form [formGroup] = "formularioHistorias" (ngSubmit) = "registrarHistoria()">

        <input class="input-txt" type="text" placeholder="Titulo: " formControlName = "titulo">
        
        <textarea class="input-txt" placeholder="Descripcion: " formControlName = "descripcion" cols="30" rows="10"></textarea>

        <label for="image">Selecciona una imagen:</label>
        <input id="image" type="file" accept=".png, .jpg, .gif" (change) = "onChange($event)">

        <input class="input-btn" type="submit">

    </form>

    <a href="tablero-cuenta">¡Regresar!</a>
</div>
