.contenedor-pricipal{
    height: 100%;
    margin-top: 40px;
}

.contenedor-pricipal > h1{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: #4468a7;
}

.contenedor-pricipal > div > img {
    height: 130px;
    margin: auto 2%;
}

.contenedor-pricipal > .cabecera{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: -30px;
    margin-left: 30px;
}

/* ------------------------------- Datos del Restaurante -------------------------------*/

.contenedor-pricipal > .cabecera > .contenedor-datos > p{
    font-size: 18px;
    color: black;
    text-align: justify;
    width: 100%;
    font-weight: bold;
    margin: 2%;
}

.contenedor-pricipal > .cabecera > .contenedor-datos > p > span{
    font-weight: normal;
}

.contenedor-pricipal > .cabecera > .contenedor-datos{
    margin-right: 4%;
    width: 80%;
    background-color: rgb(255, 253, 253);
}

/* ------------------------------- Botones de Agregar ------------------------------- */
.contenedor-pricipal > .cabecera > div > a{
    display: block;
    text-decoration: none;
    border-radius:  5px;
    border: solid 2px #4468a7;
    margin: 10px;
    padding: 5px 10px;
    color: #4468a7;
    font-weight: bolder;
}

.contenedor-pricipal .cabecera .btns-agregar{
    margin: 2%;
    width: 250px;
}

.contenedor-pricipal .cabecera > div > a:hover{
    border: solid 2px darkslategrey;
    color: darkslategrey;
    cursor: pointer;
}

/* ============================= CUERPO DEL TABLERO ============================= */
.cuerpo {
    margin-top: 20px;
}

.cuerpo > p{
    color: black;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-top: 60px;
}

.cuerpo > p > a{
    color: #4468a7;
    cursor: pointer;
    text-decoration: underline;
}

.cuerpo > div > h2{
    color: #4468a7;
    font-weight: bold;
    text-align: center;
}

.cuerpo > div > table{
    width: 98%;
    margin: auto 1%;
    margin-bottom: 40px;
}

.cuerpo > div > table > thead > tr > th{
    border-radius: 5px;
    border: solid 1px #6086c7;
    color: #103574;
    font-weight: bolder;
    font-size: 18px;
    padding: 2px auto;
    background-color: rgb(219, 235, 240);
}

.cuerpo > div > table > tbody > tr > td {
    border: 1px solid rgb(128, 165, 165);
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

.cuerpo > div > table > tbody > tr > td > button{
    border: none;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    outline:none;
}

.cuerpo > div > table > tbody > tr > td > .btn-editar{
    color: rgb(85, 78, 20);
}

.cuerpo > div > table > tbody > tr > td > .btn-eliminar{
    color: rgb(112, 19, 19);
}

.cuerpo > div > table > tbody > tr > td > button:hover{
    color: rgb(41, 54, 53);
}