<a href="configuracion-cuenta">¡Regresar!</a>
<div class="contenedor-principal">
    <h1>Actualización de Usuarios</h1>
    <form [formGroup] = "formularioUsuario"  (ngSubmit) = "actualizarUsuario()">
        <input class="input-txt" type="text" placeholder="Nombres:" [(ngModel)]="usuario.data().displayName" formControlName = "nombre">
        <input class="input-txt" type="email" placeholder="Correo:" [(ngModel)]="usuario.data().email" formControlName = "correo">
        <input class="input-btn" type="submit">
    </form>
    <a href="configuracion-cuenta">¡Regresar!</a>
</div>