<div class="contenedor-pricipal">
    <h1>{{restaurante.data().restaurant_name.toUpperCase()}}</h1>
    <div class="cabecera">
        <img src="{{restaurante.data().restaurant_image}}">
        <div class="contenedor-datos">
            <p> Descripción: <span>{{restaurante.data().restaurant_description}}</span> </p> 
            <p> Dirección: <span>{{restaurante.data().restaurant_location}}</span></p>
            <p> Teléfono: <span>{{restaurante.data().restaurant_phone}}</span> </p>
        </div>
        <div class="btns-agregar">
            <a href="plato-registro"> <i class="fas fa-plus-circle"></i> Plato</a>
            <a href=""> <i class="fas fa-plus-circle"></i> Historia</a>
            <a href=""> <i class="fas fa-plus-circle"></i> Evento</a>
        </div>
    </div>
    <div class="cuerpo">

    </div>
</div>
