
<p style="width: 100%; text-align: center; margin-top: 30px; font-size: 30px; font-weight: bold;">Home component</p>
<div>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
    </head>
    <body class="centrarBloque">
        <div class="container">
            <div class="card" *ngFor="let categoria of categorias">    
            <img src="{{categoria.category_image}}" alt="" (click) = "seleccionOpcion(categoria.category_name)">   
            <h3 class="title"><b>{{categoria.category_name}}</b></h3>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
            <div class="circle" (click) = "seleccionOpcion(categoria.category_name)">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <circle class="stroke" cx="60" cy="60" r="50" />
                </svg>
            </div>
            </div>
        </div>        
    </body>
    
    <div class="bodyColor">
        <br>
        <div class="contenedorBody" *ngFor="let food of comidas | filter:filterPost">
            <div class="bodyCardContainer centrarBloque">
                <div class="headerBody">
                    <a href="#">
                        <img class="imgBody" src="{{food.food_image}}" width="250">
                    </a>                
                </div>
                <div class="descripcionBody">
                    <h2>{{food.food_name}}</h2>
                    <p>{{food.food_description}}</p>
                    <h3 class="restauranteColor">{{food.food_restaurant}}</h3>
                </div>
            </div>
        </div>
        <br>
    </div>
    

</div>