
<p style="width: 100%; text-align: center; margin-top: 30px; font-size: 30px; font-weight: bold;">Bienvenido</p>
<div>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
    </head>
    <body class="centrarBloque">
        <div class="container">
            <div class="card" *ngFor="let categoria of categorias">    
            <img src="{{categoria.category_image}}" alt="" (click) = "seleccionOpcion(categoria.category_name)">   
            <h3 class="title"><b>{{categoria.category_name}}</b></h3>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
            <div class="circle" (click) = "seleccionOpcion(categoria.category_name)">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <circle class="stroke" cx="60" cy="60" r="50" />
                </svg>
            </div>
            </div>
        </div>        
    </body>
    
    <body>
        <div id="container" *ngFor="let food of comidas | filter:filterPost">	
        
            <div class="product-details">
                    
                <h1>{{food.food_name}}</h1>
                    
                <p class="information">{{food.food_description}}</p>
                <p class="information"><i class="fas fa-utensils"></i>  {{food.food_restaurant}}</p>                    
                        
            </div>
                
            <div class="product-image">
                
                <img src="{{food.food_image}}" alt="Tradizone">
            </div>        
        </div>    
    </body>

    <body>
        <div id="container" *ngFor="let restaurant of restaurantes">	
        
            <div class="product-details">
                    
                <h1>{{restaurant.restaurant_name}}</h1>
                    
                <p class="information">{{restaurant.restaurant_description}}</p>
                <p class="information"><i class="fas fa-map-marker-alt"></i>  {{restaurant.restaurant_zone}}</p>
                <p class="information">{{restaurant.restaurant_location}}</p>
                <p class="information"><i class="fas fa-phone-alt"></i>  {{restaurant.restaurant_phone}}</p>                    
                        
            </div>
                
            <div class="product-image">
                
                <img src="{{restaurant.restaurant_image}}" alt="Tradizone">
            </div>        
        </div>    
    </body>

    <div class="bodyColor">
        <br>
        <div class="recetaContenedorBody" *ngFor="let receta of recetas">
            <div class="recetaBodyCardContainer">
                <div class="headerBody">
                    <a href="#">
                        <img class="imgBody" src="{{receta.receta_url_imagen}}" width="250">
                    </a>                
                    <h3 class="restauranteColor">{{receta.receta_autor}}</h3>
                    <h3 class="restauranteColor">{{receta.receta_fecha}}</h3>
                </div>
                <div class="descripcionBody">
                    <h2>{{receta.receta_titulo}}</h2>
                    <label for="">Ingredientes:</label>
                    <p>{{receta.receta_ingredientes}}</p>
                    <label for="">Preparación:</label>
                    <p>{{receta.receta_preparacion}}</p>
                </div>
            </div>
        </div>
        <br>
    </div>


</div>