<p><a href="tablero-cuenta" style="color: #394f75; margin: 20px; font-size: 18px; font-weight: bold;">¡Regresar!</a></p>
<div class="contenedor-principal">
    <h1>Editar Plato</h1>
    <form [formGroup] = "formularioPlatos" (ngSubmit) = "editarPlato()">

        <label>Nombre: </label>
        <input class="input-txt" type="text" placeholder="Nombre: " formControlName = "nombre">

        <label>Categoría: </label>
        <select class="input-txt" formControlName = "categoria" name="Categoria">
            <option value="{{categoria.category_name}}" *ngFor="let categoria of categorias">{{categoria.category_name}}</option>
            <option value="" selected hidden>fdsdafsdsda</option>
        </select>

        <label>Descripción:</label>
        <input class="input-txt" type="text" placeholder="Descripción: " formControlName = "descripcion">

        <label>Costo:</label>
        <input class="input-txt" type="number" placeholder="Costo: " formControlName = "costo">

        <label for="image">Imagen:</label>
        <img src="" alt="img-plato">
        <input id="image" type="file" accept=".png, .jpg, .gif" (change) = "onChange($event)" formControlName = "imagen">


        <input class="input-btn" type="submit">
    </form>
    <a href="tablero-cuenta">¡Regresar!</a>  
</div>
